{% extends "webapp/base.html" %}

{% block content %}

{% for result in scanner_notes %}
	{{result.scanner_name}}
	{{result.scanner_notes}}
{% endfor %}



<div> Dates: <form action="/webapp/results" method="get">
<select name="date_id">
{% for result in scanner_dates %}
    <option value="{{ result.date_id }}">{{ result.full_date }}</option>
{% endfor %}
</select>
<input id="date_id" class="btn btn-primary" type="submit" value="GO!" />
</form> </div>



<button onclick="javascript:history.back()" class="btn">↩ Go Back</button> 
{% endblock %}
